APP_NAME=Golang API
APP_ENV=local
APP_PORT=8080

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=golang_api
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=your-secret-key-change-this-in-production

MAIL_MAILER="smtp"
MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION="ssl"
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Nova Ardiansyah"